<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Splatgroups{% endblock %}</title>
{% block stylesheets %}{% endblock %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/bower/Materialize/dist/css/materialize.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/default.css') }}" />
</head>
<body>

<!--
  <nav class="navbar font-paintball" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SplatGroups</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->

    <!--<h1 class="font-paintball orange-text">SplatGroups</h1>-->
  
<nav>
  <div class="nav-wrapper purple darken-3">
    <div class="container">
      <a href="{{ path('rooms') }}" class="brand-logo">SplatGroups</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ path('login') }}">Login</a></li>
        <li><a href="{{ path('rooms') }}">Rooms</a></li>
        <li><a href="{{ path('register') }}">Register</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% if app.user %}
        <li><a href="{{ path('rooms') }}">Rooms</a></li>
        <li><a href="{{ path('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ path('login') }}">Login</a></li>
        <li><a href="{{ path('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
{% block body %}

{% endblock %}
</div>

</body>

<script type="text/javascript" src="{{ asset('/assets/bower/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/bower/Materialize/dist/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/assets/js/default.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
  $(".button-collapse").sideNav();
  $('.chat-container').animate({
    scrollTop: $('.chat-container').height()
  }, 100);
});
</script>
</html>
