{% extends 'base.html.twig' %}

{% block body %}

<p class="font-paintball center f18">
Registre-se no SplatGroups e encontre pessoas para jogar Splatoon!
</p>
  
<div class="row">
  <div class="col m4 offset-m4 s12">
  
  
{{ form_start(form, {'attr': {'class': 'font-paintball'}}) }}
  {{ form_widget(form.username, {'attr': {'placeholder': 'Nome de usuário'}}) }}
  {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
  {{ form_widget(form.nnid, {'attr': {'placeholder': 'Nintendo Network ID'}}) }}
  {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Senha'}}) }}
  {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Repita a senha'}}) }}

    <p class="center">
      <button type="submit" class="btn btn-large orange waves-effect waves-light f18">Registrar</button>
    </p>
{{ form_end(form) }}
  </div>
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
